//紫背景、紫文字
$yellow: #ffa200;

//緑文字
$green: #35b118;

//赤文字
$red: #ff5c5c;

//ピンク文字

$pink: #ff4876;

$pink02: #ff486f;

$sk_pink: #ff73bc;

//金色

$gd: #b7a263;

$gd02: #f6f4ee;

//オレンジ色

$orange: #ff6b31;

$green: #10a84c;

$bd_blue: #186e8c;

//薄い青文字
$blue: #016fb9;

//濃い青文字
$blue02: #2491bb;

//濃い青文字
$blue03: #2ea4ca;

$blue04: #2d79a4;

//ナンバー
$num: #7a959f;

//フォントゴシック
$gosic: "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";

//フォント明兆
$min: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "serif";

//表見出し
$tableth: #7da7e1;

//表１列目見出し
$tablethcole1: #e5ecf6;

//表１列目文字見出し
$tablethcole1-cr: #5080be;

/* FV下メニューバー背景色 */

$menu_yellow: #f69b2f;

$menu_blue: #016fb9;

$menu_green: #1cb547;

$menu_pink: #ff979e;

$bdc_pink: #ff5166;

/* 陰性、陽性のボックスカラー */

$bottom_color: #148fc8;
