.c-breadcrumbs {
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
    padding: 1.2rem 0;
    line-height: 1;

    span, a {
        vertical-align: middle;
    }

    span {
        line-height: 1;
        color: #b5b5b5;
        display: inline-block;
    }

    a {
        font-size: 15px;
        color: #727272;
        line-height: 1;

        @media (max-width: 767px) {
            font-size: .88rem;
        }
    }

    .current-item {
        span {
            color: #8e8e8e;
            font-weight: 600;
        }
    }

    .c-breadcrumbs__arw {
        margin: 0 .62rem;
        font-size: 14px;
        color: #c9c9c9;

        @media (max-width: 767px) {
            font-size: .8rem;
        }
    }
}
