.c-yellow {
    color: $menu_yellow;
}

.c-bdc-yellow {
    border-color: $menu_yellow;
}

.c-lught-blue {
    color: #5eb2d0;
}

.c-bdc-green {
    border-color: #03b56e;
}

.c-bdc-light-blue {
    border-color: #5eb2d0;
}

.c-bdc-light-blue02 {
    border-color: #2fabff;
}

.c-bdc-water-blue {
    border-color: #2fabff;
}

.c-bdc-pink {
    border-color: #ff486f;
}

.c-pink {
    color: #ff5166;
}

.c-pink02 {
    color: #f33434;
}

.c-pink-light {
    color: #ff726e;
}

.c-purple {
    color: #ca6cc9;
}

.c-blue {
    color: $menu_blue;
}

.c-blue02 {
    color: #2d79a4;
}

.c-orange {
    color: #ff8d31;
}

.c-orange02 {
    color: #fc8709;
}

.c-orange03 {
    color: #ff500b;
}

.c-deep-gray {
    color: #505050;
}

.c-line {
    color: #00b900;
}

.c-yellow02 {
    color: #fff600;
}

.c-red {
    color: #ff5353;
}

.c-deep-blue {
    color: #08388f;
}

.c-green-blue-i {
    color: #2e97a3 !important;
}

.c-light-blue-i {
    color: #2e79a3 !important;
}

/* 背景 */

.bg-pink {
    background-color: $menu_pink;
}

.bg-light-blue {
    background-color: #5eb2d0;
}

.bg-green-blue-i {
    background-color: #2e97a3 !important;
}

.bg-light-blue-i {
    background-color: #2e79a3 !important;
}

.bg-orange {
    background-color: #ffb431;
}

.bg-green {
    background-color: #03b56e;
}

.bg-orange02 {
    background-color: #f69b2f;
}

.bg-section-gray {
    background-color: #f5f5f5;
}

.c-bg-water-blue {
    background-color: #2fabff;
}

.c-bg-deep-pink {
    background-color: #ff486f;
}

.c-bg-purple {
    background-color: #b052b8;
}

.c-bg-purple {
    background-color: #b052b8;
}

.c-bg-orange {
    background-color: #fc8109;
}

.c-bg-deep-gray {
    background-color: #505050;
}

.c-bg-use-green {
    background-color: #049f29;
}

.c-bg-use-blue {
    background-color: #016fb9;
}

.c-bdc-use-green {
    border-color: #049f29;
}

.c-bdc-use-blue {
    border-color: #016fb9;
}

.c-text-use-green {
    color: #049f29;
}

.c-text-use-blue {
    color: #016fb9;
}
