.c-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: ease-in .3s;
    z-index: 9999;
    overflow: hidden;
    overflow-y: auto; /* scrollにはしないことでスクロールの必要がないときはスクロールバーを表示させない */
    -webkit-overflow-scrolling: touch;

    &__bg {
        background-color: rgba($color: #000000, $alpha: 0.68);

        //position: absolute;
        position: fixed;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9998;
    }

    &__inner {
        width: 94%;
        max-width: 600px;

        //height: 110vw;
        //max-height: 698px;
        background-color: #fff;
        padding: 2.1rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        text-align: center;

        &--movie {
            height: 80vw;
            max-height: 460px;
        }
    }

    &__thumb {
        margin-bottom: 1.8rem;

        &--movie {
            height: 54vw;
            max-height: 300px;
        }
    }

    &__ttl {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 2.55rem;
    }

    &__btn {
        width: 60%;
        max-width: 260px;
        margin: 0 auto 2.2rem;
        display: block;
        background-color: #ea4747;
        height: 12vw;
        max-height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 1.32rem;
        font-weight: 600;

        @media (max-width: 767px) {
            line-height: 12vw;
            font-size: 1.5rem;
        }

        &--hidden {
            display: none;
        }
    }

    &__btn02 {
        max-width: 330px;
        max-height: none;
        height: auto;
        line-height: auto;
        padding: .31rem 0 .42rem;
        width: 83%;
        font-size: 1.74rem;
        border-bottom: rem(4) solid #bd3131;
    }
}

.is-modal-open {
    visibility: visible;
    opacity: 1;
}

.is-of-hidden {
    overflow: hidden;
}

/* 新規に追加したdate INPUT */

.c-date-select {
    font-size: 1.23rem;
    height: rem(52);
    padding: 0 rem(55);
    border-radius: rem(3);
    line-height: auto;

    //padding: .42rem .55rem;
    border: rem(3) solid #bdbdbd;
    display: block;
    width: 100%;
    background-image: url(../img/common/c_icon_cal.png);
    background-repeat: no-repeat;
    background-position: .88rem 50%;
    background-size: 2.04rem auto;

    //margin-bottom: 2.55rem;

    @media (max-width: 767px) {
        padding: 0 rem(59);
    }

    &::placeholder {
        color: #cdcdcd;
        font-size: 1.22rem;
    }

    &:focus {
        border-color: #ff726e;
    }
}

.c-cal-warp {
    position: relative;
    margin-bottom: 1.88rem;
}

.p-else-text-note {
    color: #de2910;
    text-decoration: underline;

    //background-color: #de2910;
    padding: .42rem 0 .46rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.88rem;
    display: none;
    margin-bottom: 1.48rem;

    @media (max-width: 767px) {
        font-size: 1.65rem;
        margin-bottom: 1.97rem;
    }
}

.appendDatepicker {
    position: relative;

    .ui-datepicker {
        top: 0 !important;
        left: 0 !important;
        position: absolute !important;
        width: 100% !important;
    }

    .ui-state-default {
        text-align: center;
        padding: .47rem .33rem;
    }
}
