/*

クリにクス説明

-----------------------------*/

.p-clinics-about {
    padding: rem(62) 0 rem(102);

    &__ttl {
        font-size: rem(39.22);
        color: #000;
        margin-bottom: rem(44);
    }
}

.p-about-row {
    margin-bottom: rem(51);

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 rem(31);
    }

    &__desc {
        width: 100%;

        @media (min-width: 768px) {
            max-width: 50%;
        }
    }

    &__text {
        font-size: rem(16);
        line-height: 1.75;
        margin-bottom: .45rem;
        color: #454545;
    }

    &__logo {
        width: 482px;
    }
}

.p-feature {
    &__sp-ttl {
        max-width: 480px;
        margin: 0 auto 1.2rem;
    }
}

.p-feature-list {
    display: flex;
    justify-content: center;

    @media (max-width: 767px) {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 220px;

        @media (min-width: 768px) {
            margin: 0 rem(30);
        }

        @media (max-width: 767px) {
            width: 47%;
            margin-bottom: 1.88rem;
        }

        &:nth-of-type(3), &:nth-of-type(4) {
            @media (max-width: 767px) {
                margin-bottom: 0;
            }
        }
    }

    &__figure {
        display: block;
        margin: 0;
    }

    &__img {
        display: block;
        margin-bottom: rem(16);

        @media (max-width: 767px) {
            margin-bottom: .62rem;
        }
    }

    &__text {
        text-align: center;
        color: #e71f19;
        font-weight: 600;
        line-height: 1;
        font-size: rem(16);
    }
}

.p-online-flow {
    padding: rem(75) 0 rem(97);

    &__ttl {
        margin-bottom: rem(47);
        font-size: rem(39.22);
    }
}

.p-online-slide-wrap {
    position: relative;
}

.p-online-slide {
    padding: 0 rem(134);
    position: relative;

    @media (max-width: 767px) {
        padding: 0 2.98rem;
    }

    &__item {
        position: relative;
        background-color: #fff;
        height: 311px;
        overflow: hidden;
        border-radius: rem(13);

        @media (max-width: 767px) {
            height: 130vw;
        }
    }

    &__thumb {
        position: absolute;
        width: 171px;
        left: rem(64);
        bottom: -70px;

        @media (max-width: 767px) {
            position: static;
            width: 40%;
            margin: 1.7rem auto 2.4rem;
        }
    }

    &__right {
        color: #fff;
        background-color: #ea4747;
        height: 100%;
        position: relative;
        z-index: 500;

        @media (min-width: 768px) {
            margin-left: 477px;
            padding-top: 65px;
            padding-left: 31px;
            padding-right: 51px;
        }

        @media (max-width: 767px) {
            padding: 1.1rem 1.2rem 0;
        }

        &::after {
            content: "";
            position: absolute;
            width: 149px;
            height: 100%;
            left: -64px;
            top: 0;
            background-color: #ea4747;
            transform: skewX(-22deg);
            z-index: -1;

            @media (max-width: 767px) {
                left: -1px;
                top: -1.1rem;
                transform: skewY(4deg);
                width: 100%;
                height: 2.8rem;
            }
        }
    }

    &__ttl {
        font-size: rem(25);
        line-height: 1;
        margin-bottom: rem(10);
    }
}

.p-online-arw {
    //position: relative;
}

.p-online-slide-arrow {
    position: absolute;
    top: 50%;
    width: rem(47);
    height: rem(81);
    background: no-repeat 50% 50%/100% auto;
    transform: translateY(-50%);

    @media (max-width: 767px) {
        width: 2.0rem;
        height: 4.0rem;
    }

    &--prev {
        background-image: url(../img/cinics/slide_prev.png);
        left: 0;
    }

    &--next {
        background-image: url(../img/cinics/slide_next.png);
        right: 0;
    }
}

.p-online-dots {
    ul {
        li {
            width: rem(18);
            height: rem(18);
            background-color: #fff;
            margin: 0 rem(8);
        }

        li.slick-active {
            background-color: #ea4747;
        }
    }
}

/*

タブエリア

-----------------------*/

/* 大枠 */

.p-clinics-flow {
    padding: rem(68) 0 rem(90);

    &__ttl {
        font-size: rem(39.22);
        color: #000;
        margin-bottom: rem(10);

        @media (max-width: 767px) {
            font-size: 1.42rem;
            margin-bottom: 1.83rem;
        }
    }

    &__intro {
        text-align: center;
        margin-bottom: rem(69);
        font-size: rem(16);
        line-height: 1.75;

        @media (max-width: 767px) {
            display: none;
        }
    }
}

/* タブのwrap */

.p-tab-wrap {
    padding: 0 rem(48);

    @media (max-width: 767px) {
        padding: 0;
    }
}

/* ボタン */

.p-tab-nav {
    font-size: 0;

    &__item {
        line-height: 1;
        font-weight: 600;
        font-size: rem(25);
        padding: rem(14) 0;
        background-color: #d8d8d8;
        color: #ea4747;
        width: 331px;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        vertical-align: bottom;

        @media (max-width: 767px) {
            width: 42%;
            font-size: 1.15rem;
        }
    }

    &__item.is-tab-active {
        background-color: #ea4747;
        color: #fff;
        padding: rem(18) 0;

        @media (max-width: 767px) {
            width: 58%;
        }
    }
}

/* 中身 */

.p-tab-contents {
    border-radius: 0 rem(25) rem(25) rem(25);
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity .24s ease-in;

    @media (max-width: 767px) {
        border-radius: 0;
    }
}

.is-tab-active.p-tab-contents {
    overflow: inherit;
    visibility: visible;
    opacity: 1;
    height: auto;
    padding: rem(61) rem(50) 0;
    border: rem(5) solid #ea4747;

    @media (max-width: 767px) {
        padding: 2.88rem .85rem;

        //padding-left: 1.6rem;

        //padding-right: .55rem;
        border-width: 1px;
    }
}

.p-tab-flow {
    &__step {
        display: flex;
        justify-content: space-between;
        padding-left: rem(51);
        height: 270px;
        border-left: rem(8) solid #e70012;

        @media (max-width: 767px) {
            padding-left: 2.25rem;
            margin-left: .68rem;
            border-width: rem(4);
            height: 65vw;
        }

        &:last-of-type {
            border-left: rem(8) solid transparent;
        }
    }

    &__left {
        max-width: 580px;
        width: 100%;

        @media (max-width: 767px) {
            width: 71%;
        }
    }

    &__thumb {
        width: 325px;

        @media (max-width: 767px) {
            width: 26%;
        }
    }

    &__ttl {
        font-size: rem(25);
        color: #e70012;
        margin-bottom: rem(11);
        position: relative;

        @media (max-width: 767px) {
            font-size: 1.00rem;
            line-height: 1.15;
        }
    }

    &__step-icon {
        position: absolute;
        top: 50%;
        left: rem(-77);
        transform: translateY(-50%);
        display: block;
        width: rem(45);
        height: rem(45);
        color: #fff;
        text-align: center;
        padding: rem(6.22) rem(6);
        background-color: #e70012;
        font-style: normal;

        @media (max-width: 767px) {
            width: 2.5rem;
            height: 2.6rem;
            left: -3.48rem;
        }

        &__inner {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: rem(-14.8);
                transform: translateY(-50%);
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: rem(8.5) 0 rem(8.5) rem(10);
                border-color: transparent transparent transparent #e70012;

                @media (max-width: 767px) {
                    right: -.68rem;
                }
            }
        }
    }

    &__step-sub {
        font-size: rem(11.52);
        line-height: 1;
        letter-spacing: .1em;
        display: block;

        @media (max-width: 767px) {
            font-size: .5rem;
        }
    }

    &__step-num {
        font-size: rem(27.13);
        line-height: 1;
        display: block;

        @media (max-width: 767px) {
            font-size: 1.3rem;
        }
    }

    &__desc {
        font-size: rem(16);
        color: #343434;
        line-height: 1.5;

        @media (max-width: 767px) {
            font-size: .85rem;
            line-height: 1.28;
        }

        &--note {
            color: #ff4949;
            text-indent: -1.1em;
            padding-left: 1.1em;
            margin-top: rem(12);

            @media (max-width: 767px) {
                font-size: .85rem;
                line-height: 1.288;
            }
        }

        &--band {
            background-color: #ff4949;
            color: #fff;
            font-weight: 600;
            padding: .25rem;
            margin-bottom: .35rem;
            line-height: 1.85;
        }
    }
}

.--thumb-sp {
    @media (min-width: 768px) {
        width: 100px;
        margin-right: rem(54);
    }
}

.--thumb-sp--last {
    @media (min-width: 768px) {
        width: 116px;
        margin-right: rem(48);
    }

    @media (max-width: 767px) {
        width: 31%;
    }
}

.--thumb-pc {
    @media (max-width: 767px) {
        width: 36%;
    }
}

.--pc-flow {
    .p-tab-flow__left {
        @media (max-width: 767px) {
            width: 63%;
        }
    }
}

.p-app {
    border-top: 1px solid #e70012;
    padding-top: rem(29);

    @media (max-width: 767px) {
        padding: 2.5rem 0 0;
    }
}

.p-app-row {
    display: flex;
    justify-content: center;
    align-items: center;

    &__thumb {
        width: 156px;
        margin-right: 59px;
    }

    &__right {
        text-align: center;
    }

    &__info {
        text-align: center;
        color: #666;
        font-size: rem(18);
        margin-bottom: rem(12);
    }

    &__btn {
        text-align: center;

        @media (max-width: 767px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__btn-item {
        display: inline-block;
        width: 204px;

        @media (max-width: 767px) {
            width: 47%;
        }
    }
}

.p-pc-top {
    padding: 0 rem(25);
    padding-bottom: rem(40);
    border-bottom: 1px solid #e70012;
    text-align: center;
    font-size: rem(25);
    font-weight: 800;
    text-align: center;
    margin-bottom: rem(74);
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴシック W6";

    @media (max-width: 767px) {
        padding: 0 .32rem 1.8rem;
        font-size: 1.2rem;
    }

    &__band {
        padding: rem(16) 0;
        background-color: #ffba00;
        color: #000;
        margin-bottom: rem(28);
    }

    &__catch {
        color: #fc3737;
        line-height: 1.52;
    }
}

.p-hatunetu {
    background: #f5f5f5 url(../img/cinics/hatunetu.jpg) no-repeat 50% 50%;
    background-size: auto 100%;
    position: relative;
    height: 1022px;

    @media (max-width: 767px) {
        background-image: url(../img/cinics/hatunetu_sp.jpg);
        background-size: 100% auto;
        height: 370vw;
    }

    &__btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 450px;
        bottom: 3.45rem;

        @media (max-width: 767px) {
            width: 80%;
            bottom: 6.55rem;
        }
    }
}
