.p-header {
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: ease 1.12s;

    &--top {
        padding-top: 1.875rem;
        padding-bottom: 2.5625rem;
        box-shadow: none;

        @media (max-width: 767px) {
            padding: .57rem 0;

            //position: absolute;
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            background-color: transparent;
            width: 100%;
            transition: ease-in .42s;
        }
    }

    &--pages {
        @media (max-width: 767px) {
            position: static;
            background-color: #fff;
        }
    }

    &__inner {
        max-width: 1150px;
        width: 96%;
        margin: 0 auto 2.575rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;

        @media (max-width: 767px) {
            padding-bottom: .85rem;
            margin-bottom: 0;
        }

        &--top {
            margin-bottom: 1.593125rem;
            width: 90%;

            @media (max-width: 767px) {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    &__logo {
        width: 316px;
        padding-top: 1.125rem;

        @media (max-width: 767px) {
            width: 40%;
            padding-top: .78rem;
        }

        &--top {
            max-width: 239px;
            width: 45%;
            padding-top: 0;
        }
    }

    &__sp-gray-btn {
        position: relative;
        margin-right: 4.8rem;
        background-color: #2d79a4;
        color: #fff;
        width: 6.6rem;
        height: 3.8rem;
    }

    &__sp-gray-btn-text {
        position: absolute;
        color: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        line-height: 1.34;
        font-size: .92rem;
    }

    &__right {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            width: 44%;
        }

        &--top {
            justify-content: space-between;
        }
    }

    &__tel {
        display: block;
        margin-right: 3.25rem;

        @media (min-width: 768px) {
            padding-top: 16px;
        }

        @media (max-width: 767px) {
            text-align: center;
            margin-right: 0;
            margin-bottom: .21rem;
        }

        &--top {
            margin-right: 0;
            line-height: 1;
            padding-top: 0;

            @media (min-width: 768px) {
                margin-left: 1.7125rem;
            }
        }
    }

    &__number {
        font-size: 2.32625rem;
        color: $blue;
        margin-bottom: 0.6875rem;
        padding-left: 40px;
        background: url(../img/common/c_icon_tel.png) no-repeat 0% 50% / 31px auto;
        letter-spacing: 0.0075em;
        line-height: 1;
        vertical-align: middle;

        @media (max-width: 767px) {
            display: inline-block;

            // padding: .54rem 0;
            padding: 0;

            /*   padding-left: 3.25rem; */
            /*  background-size: 2.25rem auto; */
            background: none;
            margin-bottom: 0;
        }

        &--top {
            padding-left: 0;
            background: none;
            font-size: 1.49625rem;
            letter-spacing: 0;
            margin-bottom: 0.2rem;
            text-align: right;
        }
    }

    &__number-sq {
        display: inline-block;
        padding: .24rem;
        background-color: $blue;
        color: #fff;
        text-align: center;
        line-height: 1;
        font-size: .7rem;
        vertical-align: middle;

        @media (max-width: 767px) {
            font-size: .92rem;
            padding: .45rem;
        }
    }

    &__number-num {
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        margin-left: .38rem;

        &--campany {
            letter-spacing: .5px;
        }
    }

    &__guide {
        @media (max-width: 767px) {
            font-size: 1.2225rem;
            margin-top: .45rem;
            margin-bottom: .45rem;
            color: $blue;
            font-weight: 600;
            text-align: center;
        }
    }

    &__time {
        font-size: 19px;
        color: #000;
        line-height: 1.35;

        @media (min-width: 768px) {
            margin-left: -3px;
        }

        @media (max-width: 767px) {
            font-size: 1.0225rem;
            text-align: center;
            margin-top: .98rem;
        }

        &--top {
            text-align: center;
            font-size: 0.75rem;
            color: #707070;
            letter-spacing: 0.025em;
        }
    }

    &__btn-list {
        width: 192px;

        @media (max-width: 767px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    &__btn-item {
        @media (max-width: 767px) {
            width: 47.8%;
        }
    }
}

.is-header-white {
    @media (max-width: 767px) {
        background-color: #fff;
    }
}

/* TOPのグレーのボタン */

.p-top-btns {
    font-size: 0;

    &__item {
        display: inline-block;
        border: none;

        &:nth-of-type(2) {
            @media (min-width: 768px) {
                margin: 0 0.6875rem;
            }
        }
    }

    &__link {
        display: block;
        font-size: 0.875rem;
        letter-spacing: .025em;
        background-color: #5eb2d0;
        color: #fff;
        border: solid 1px #5eb2d0;
        border-radius: rem(2);
    }
}

.is-bg-change {
    background-color: #fff;
}

/* TOPスマホ用ハンバーガー */

.p-top-menu-btn {
    width: 16%;
    height: 4.92rem;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);

    @media (max-width: 767px) {
        display: block;
    }

    &.--btn--pages {
        background-color: #fff;

        .p-top-menu-btn__out-inner {
            &::after {
                color: #515151;
            }
        }

        .p-top-menu-btn__bar {
            background-color: #515151;
        }

        .p-top-menu-btn__bar-other {
            background-color: #515151;
        }
    }

    &__out-inner {
        position: relative;
        height: 100%;
        padding: rem(29) rem(17);
        padding-top: rem(18);

        &::after {
            content: "MENU";
            position: absolute;
            bottom: .4rem;
            left: 50%;
            font-size: rem(10);
            color: #000;
            letter-spacing: .2em;
            font-family: "FuturaPTBook";
            color: #fff;
            transform: translateX(-50%);
        }
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: ease-in .25s;
        transition-delay: .4s;
    }

    &__bar {
        width: 100%;
        display: inline-block;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        position: absolute;
        right: 0;
        transition: ease-in .25s;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

        &:nth-of-type(3) {
            bottom: 0;
            width: 50%;
        }
    }

    &__bar-other {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        transition: ease-in .25s;
        transform: scaleY(1) translateY(-50%) rotate(89deg);
    }

    &.is-menu-bar-open {
        &__out-inner {
            position: relative;
            height: 92%;
            padding: rem(29) rem(17);
            padding-top: rem(18);

            &::after {
                content: "CLOSE";
            }
        }

        &::after {
            //transform: rotate(-45deg);

            // right: -50%;
            // transform: translateX(-50%);
       
        }

        .p-top-menu-btn__inner {
            transform: rotate(45deg);
        }

        .p-top-menu-btn__bar {
            &:nth-of-type(1) {
                transform: scale(0);
            }

            &:nth-of-type(2) {
                width: 98%;
                left: 0.040937rem;
            }

            &:nth-of-type(3) {
                transform: scale(0);
            }
        }

        .p-top-menu-btn__bar-other {
            opacity: 1;
        }
    }
}

.p-global-nav {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding-bottom: 2.5rem;

    @media (max-width: 767px) {
        display: none;
        margin-top: 2.225rem;
        padding-bottom: 2.025rem;
        background-color: #fff;
    }

    &__list {
        font-size: 0;
        padding-left: 18px;

        @media (max-width: 767px) {
            padding: 0 1.2rem;
        }
    }

    &__item {
        display: inline-block;

        @media (max-width: 767px) {
            width: 50%;
            text-align: center;
            border-bottom: 1px solid #e3e3e3;
        }

        &:last-of-type {
            a {
                &::after {
                    display: none;
                }
            }
        }
    }

    &__link {
        display: block;
        color: #333;
        font-size: 1.1125rem;
        text-align: center;
        padding: 0.55375rem 1.3rem;
        line-height: 1;
        position: relative;

        @media (max-width: 767px) {
            padding: 1.08rem .98rem;
        }

        &::after {
            @media (min-width: 768px) {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: #c3c3c3;
                top: 0;
                right: 0;
            }
        }
    }

    &__sp-btn-wrap {
        @media (max-width: 767px) {
            display: flex !important;
            justify-content: space-between;
            padding: 2.0rem 1.3rem .88rem;
        }
    }

    &__sp-btn {
        @media (max-width: 767px) {
            display: block;
            border-radius: rem(2);
            background-color: #5eb2d0;
            width: 47.8%;
            text-align: center;
            color: #fff;
            height: 3.8rem;
            line-height: 3.8rem;
        }
    }
}

/* TOP用グローバルナビ */

.--global-top {
    @media (min-width: 768px) {
        padding-bottom: 0;
    }
}

.--global-top-list {
    padding: 0;
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
        margin-left: 57px;
    }
}

.--global-top-item {
    &:first-of-type {
        a {
            padding-left: 0;
        }
    }

    &:last-of-type {
        a {
            padding-right: 0;
        }
    }
}

.--global-top-link {
    padding: 0.469375rem 1.595rem;
    font-size: 1.2rem;
    letter-spacing: 0.025em;

    &:hover {
        color: $blue;
        text-decoration: none !important;
    }
}

.is-menu-open {
    display: block;

    .--global-top-list {
        background-color: #fff;
    }

    .--global-top-item {
        background-color: #fff;
    }

    .--global-top-link {
        padding: 1.2rem 0;
        text-align: center;
    }
}

/* 下層Gナビ */

.--global-pages {
    padding-bottom: 1.75rem;
}

/* FOOTER用 GNAVI */

.p-footer-nav {
    @media (min-width: 768px) {
        padding: rem(41) 0;
        border-bottom: 1px solid rgba($color: #c1d1d7, $alpha: 0.5);
    }
}

.--global-footer {
    @media (max-width: 767px) {
        display: block;
        margin-top: 0;
        padding: 1.2rem 0;
    }
}

.--global-footer-list {
    @media (max-width: 767px) {
        padding: 0;
    }
}

.--global-footer-item {
    @media (max-width: 767px) {
        display: block;
        width: 100%;
        text-align: center;

        &:first-of-type {
            border-top: 1px solid #e3e3e3;
        }
    }
}

.--global-footer-link {
    @media (max-width: 767px) {
        text-align: center;
        padding: 1.4rem 0;
    }
}
