.p-header {
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: ease 1.12s;

    &--top {
        padding-top: 1.875rem;
        padding-bottom: 2.5625rem;
        box-shadow: none;

        @media (max-width: 767px) {
            padding: .57rem 0;

            //position: absolute;
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            background-color: transparent;
            width: 100%;
            transition: ease-in .42s;
        }
    }

    &--pages {
        @media (max-width: 767px) {
            //position: static;
            background-color: #fff;
        }
    }

    &__inner {
        max-width: 1150px;
        width: 96%;
        margin: 0 auto 2.575rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;

        @media (max-width: 767px) {
            padding-bottom: .85rem;
            margin-bottom: 0;
        }

        &--top {
            margin-bottom: 1.593125rem;
            width: 90%;

            @media (max-width: 767px) {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    &__logo {
        width: 316px;
        padding-top: 1.125rem;

        @media (max-width: 767px) {
            width: 40%;
            padding-top: .78rem;
        }

        &--top {
            max-width: 239px;
            width: 45%;
            padding-top: 0;
        }

        &--recruit {
            @media (max-width: 767px) {
                width: 52%;
                padding-top: 0;
            }
        }
    }

    &__sp-gray-btn {
        position: relative;
        margin-right: 4.8rem;
        background-color: #2d79a4;
        color: #fff;
        width: 6.6rem;
        height: 3.8rem;
    }

    &__sp-gray-btn-text {
        position: absolute;
        color: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        line-height: 1.34;
        font-size: .92rem;
    }

    &__right {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            width: 44%;
        }

        &--top {
            justify-content: space-between;
        }
    }

    &__tel {
        display: block;
        margin-right: 3.25rem;

        @media (min-width: 768px) {
            padding-top: 16px;
        }

        @media (max-width: 767px) {
            text-align: center;
            margin-right: 0;
            margin-bottom: .21rem;
        }

        &--top {
            margin-right: 0;
            line-height: 1;
            padding-top: 0;

            @media (min-width: 768px) {
                margin-left: 1.7125rem;
            }
        }
    }

    &__number {
        font-size: 2.32625rem;
        color: $blue;
        margin-bottom: 0.6875rem;
        padding-left: 40px;
        background: url(../img/common/c_icon_tel.png) no-repeat 0% 50% / 31px auto;
        letter-spacing: 0.0075em;
        line-height: 1;
        vertical-align: middle;

        @media (max-width: 767px) {
            display: inline-block;

            // padding: .54rem 0;
            padding: 0;

            /*   padding-left: 3.25rem; */
            /*  background-size: 2.25rem auto; */
            background: none;
            margin-bottom: 0;
        }

        &--top {
            padding-left: 0;
            background: none;
            font-size: 1.49625rem;
            letter-spacing: 0;
            margin-bottom: 0.2rem;
            text-align: right;
        }

        &--other {
            @media (max-width: 767px) {
                display: flex;
                flex-flow: column;
                align-items: center;
                margin-bottom: 1.25rem;
            }
        }
    }

    &__zh-num {
        @media (max-width: 767px) {
            margin-bottom: 1.2rem;
        }
    }

    &__number-sq {
        display: inline-block;
        padding: .24rem;
        background-color: $blue;
        color: #fff;
        text-align: center;
        line-height: 1;
        font-size: .7rem;
        vertical-align: middle;

        @media (max-width: 767px) {
            font-size: .92rem;
            padding: .45rem;
        }

        &--other {
            @media (max-width: 767px) {
                margin-bottom: .88rem;
            }
        }
    }

    &__number-num {
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        margin-left: .38rem;

        &--campany {
            letter-spacing: .5px;
        }
    }

    &__guide {
        @media (max-width: 767px) {
            font-size: 1.2225rem;
            margin-top: .45rem;
            margin-bottom: .45rem;
            color: $blue;
            font-weight: 600;
            text-align: center;
        }

        &--other {
            @media (max-width: 767px) {
                margin-bottom: .92rem;
                font-size: 1.38rem;
            }
        }
    }

    &__time {
        font-size: 19px;
        color: #000;
        line-height: 1.35;

        @media (min-width: 768px) {
            margin-left: -3px;
        }

        @media (max-width: 767px) {
            font-size: 1.0225rem;
            text-align: center;
            margin-top: .98rem;
        }

        &--top {
            text-align: center;
            font-size: 0.75rem;
            color: #707070;
            letter-spacing: 0.025em;
        }

        &--zh {
            @media (max-width: 767px) {
                margin-top: .78rem;
            }
        }
    }

    &__btn-list {
        width: 192px;

        @media (max-width: 767px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    &__btn-item {
        @media (max-width: 767px) {
            width: 47.8%;
        }
    }
}

.is-header-white {
    @media (max-width: 767px) {
        background-color: #fff;
    }
}

/* TOPのグレーのボタン */

.p-top-btns {
    font-size: 0;

    &__item {
        display: inline-block;
        border: none;

        &:nth-of-type(2) {
            @media (min-width: 768px) {
                margin: 0 0.6875rem;
            }
        }

        &--other {
            width: auto;

            a {
                padding: 0 3.12rem;
            }
        }
    }

    &__link {
        display: block;
        font-size: 0.875rem;
        letter-spacing: .025em;
        background-color: #5eb2d0;
        color: #fff;
        border: solid 1px #5eb2d0;
        border-radius: rem(2);
    }
}

.is-bg-change {
    background-color: #fff;
}

/* TOPスマホ用ハンバーガー */

.p-top-menu-btn {
    width: 16%;
    height: 4.92rem;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);

    @media (max-width: 767px) {
        display: block;
    }

    &.--btn--pages {
        background-color: #fff;

        .p-top-menu-btn__out-inner {
            &::after {
                color: #515151;
            }
        }

        .p-top-menu-btn__bar {
            background-color: #515151;
        }

        .p-top-menu-btn__bar-other {
            background-color: #515151;
        }
    }

    &__out-inner {
        position: relative;
        height: 100%;
        padding: rem(29) rem(17);
        padding-top: rem(18);

        &::after {
            content: "MENU";
            position: absolute;
            bottom: .4rem;
            left: 50%;
            font-size: rem(10);
            color: #000;
            letter-spacing: .2em;
            font-family: "FuturaPTBook";
            color: #fff;
            transform: translateX(-50%);
        }
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: ease-in .25s;
        transition-delay: .4s;
    }

    &__bar {
        width: 100%;
        display: inline-block;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        position: absolute;
        right: 0;
        transition: ease-in .25s;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

        &:nth-of-type(3) {
            bottom: 0;
            width: 50%;
        }
    }

    &__bar-other {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        transition: ease-in .25s;
        transform: scaleY(1) translateY(-50%) rotate(89deg);
    }

    &.is-menu-bar-open {
        &__out-inner {
            position: relative;
            height: 92%;
            padding: rem(29) rem(17);
            padding-top: rem(18);

            &::after {
                content: "CLOSE";
            }
        }

        &::after {
            //transform: rotate(-45deg);

            // right: -50%;
            // transform: translateX(-50%);
       
        }

        .p-top-menu-btn__inner {
            transform: rotate(45deg);
        }

        .p-top-menu-btn__bar {
            &:nth-of-type(1) {
                transform: scale(0);
            }

            &:nth-of-type(2) {
                width: 98%;
                left: 0.040937rem;
            }

            &:nth-of-type(3) {
                transform: scale(0);
            }
        }

        .p-top-menu-btn__bar-other {
            opacity: 1;
        }
    }
}

.p-global-nav {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding-bottom: 2.5rem;

    @media (max-width: 767px) {
        display: none;
        margin-top: 2.225rem;
        padding-bottom: 2.025rem;
        background-color: #fff;
    }

    &__list {
        font-size: 0;
        padding-left: 18px;
        text-align: center;

        @media (max-width: 767px) {
            padding: 0 1.2rem;
        }
    }

    &__item {
        display: inline-block;

        @media (max-width: 767px) {
            width: 50%;
            text-align: center;
            border-bottom: 1px solid #e3e3e3;
        }

        &:last-of-type {
            a {
                &::after {
                    display: none;
                }
            }
        }
    }

    &__link {
        display: block;
        color: #333;
        font-size: 1.1125rem;
        text-align: center;
        padding: 0.55375rem 1.3rem;
        line-height: 1.23;
        position: relative;

        @media (max-width: 767px) {
            padding: 1.08rem .98rem;
        }

        &::after {
            @media (min-width: 768px) {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: #c3c3c3;
                top: 0;
                right: 0;
            }
        }
    }

    &__sp-btn-wrap {
        @media (max-width: 767px) {
            display: flex !important;
            justify-content: space-between;
            padding: 2.0rem 1.3rem .88rem;
        }
    }

    &__sp-btn {
        @media (max-width: 767px) {
            display: block;
            border-radius: rem(2);
            background-color: #5eb2d0;
            width: 47.8%;
            text-align: center;
            color: #fff;
            height: 3.8rem;
            line-height: 3.8rem;
        }
    }
}

/* TOP用グローバルナビ */

.--global-top {
    @media (min-width: 768px) {
        padding-bottom: 0;
    }
}

.--global-top-list {
    padding: 0;
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
        //margin-left: 57px;
    }
}

.--global-other {
    @media (min-width: 768px) {
        max-width: 1230px;

        li {
            a {
                font-size: 1.09rem;
            }
        }
    }
}

.--global-top-item {
    &:first-of-type {
        a {
            padding-left: 0;
        }
    }

    &:last-of-type {
        a {
            padding-right: 0;
        }
    }
}

.--global-top-link {
    padding: 0.469375rem 1.595rem;
    font-size: 1.2rem;
    letter-spacing: 0.025em;

    &:hover {
        color: $blue;
        text-decoration: none !important;
    }
}

.is-menu-open {
    display: block;

    .--global-top-list {
        background-color: #fff;
    }

    .--global-top-item {
        background-color: #fff;
    }

    .--global-top-link {
        padding: 1.2rem 0;
        text-align: center;
    }
}

/* 下層Gナビ */

.--global-pages {
    padding-bottom: 1.75rem;
}

/* FOOTER用 GNAVI */

.p-footer-nav {
    @media (min-width: 768px) {
        padding: rem(41) 0;
        border-bottom: 1px solid rgba($color: #c1d1d7, $alpha: 0.5);
    }
}

.--global-footer {
    @media (max-width: 767px) {
        display: block;
        margin-top: 0;
        padding: 1.2rem 0;
    }
}

.--global-footer-list {
    @media (max-width: 767px) {
        padding: 0;
    }
}

.--global-footer-item {
    @media (max-width: 767px) {
        display: block;
        width: 100%;
        text-align: center;

        &:first-of-type {
            border-top: 1px solid #e3e3e3;
        }
    }
}

.--global-footer-link {
    @media (max-width: 767px) {
        text-align: center;
        padding: 1.4rem 0;
    }
}

/*

年末年始のお知らせ
------------------------------*/

.p-not-yearEnd {
    text-align: center;
    background-color: #a22d2d;
    font-weight: 600;
    color: #fff;
    letter-spacing: .075em;
    padding: 1.55rem 0;

    &__label {
        display: block;
        cursor: pointer;
        font-size: 2.48rem;

        @media (max-width: 767px) {
            font-size: 1.48rem;
        }
    }

    &__ttl {
        //margin-bottom: .88rem;
   
    }

    &__ttl-in {
        display: inline-block;
        vertical-align: middle;
    }

    &__arw {
        border-radius: 50%;
        border: rem(3) solid #fff;
        background-color: transparent;
        position: relative;
        width: rem(43);
        height: rem(43);
        display: inline-block;
        padding-left: rem(20);
        vertical-align: middle;

        &::after, &::before {
            content: "";
            position: absolute;
            background-color: #fff;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::before {
            width: 72%;
            height: rem(3);
        }

        &::after {
            width: rem(3);
            height: 72%;
        }
    }

    &__content-wrap {
        height: 0;
        visibility: hidden;
    }

    &__box {
        margin-bottom: rem(53);
    }

    &__desc {
        font-size: 1.18rem;

        //margin-bottom: .88rem;

        @media (max-width: 767px) {
            padding: 0 rem(8);
            font-size: 1.04rem;
        }
    }
}

.p-table-top-wrap {}

.p-table-top {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 3px;

    &__row {}

    &__th {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        max-width: 492px;
        text-align: left;
        padding-bottom: rem(7);
        font-size: rem(28.18);
        line-height: 1;

        &:first-of-type {
            width: 492px;
        }

        &:last-of-type {
            width: 657px;
            border-right: none;
            padding-left: rem(10);
        }
    }

    &__td {
        padding-bottom: rem(9);
        font-size: 0;
        border-right: 1px solid #fff;

        &:last-of-type {
            border-right: none;

            //padding-left: rem(10);
       
        }
    }
}

.p-table-date {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: rem(15);

    tr {
        th, td {
            border: 1px solid #fff;
            width: 162px;

            @media (max-width: 767px) {
                display: flex;
                align-items: center;
                width: 100%;
                height: 14.8vw;
                vertical-align: middle;
                border-bottom: none;

                &:last-of-type {
                    border-bottom: 1px solid #fff;
                }
            }
        }

        th {
            line-height: 1;

            @media (max-width: 767px) {
                border-right: none;
            }

            span {
                vertical-align: middle;
            }
        }

        td {}
    }

    &__head {
        @media (max-width: 767px) {
            float: left;
            width: 40%;
        }
    }

    &__head-th {
        vertical-align: middle;
        padding: rem(14) rem(7);
        color: #ffffff;

        @media (max-width: 767px) {
            padding: 0;
            justify-content: flex-end;
            padding-right: rem(28);
        }
    }

    &__head-text {
        font-size: rem(34.4);

        @media (max-width: 767px) {
            font-size: rem(28.4);
        }
    }

    &__head-sub {
        font-size: rem(26.34);
        vertical-align: middle;

        @media (max-width: 767px) {
            font-size: rem(20.4);
        }
    }

    &__body {
        @media (max-width: 767px) {
            float: left;
            width: 60%;
        }
    }

    &__td {
        padding: rem(7) rem(11) rem(7);
        font-weight: 600;
        color: #ffffff;
        line-height: 1;

        @media (max-width: 767px) {
            text-align: center;
            justify-content: center;
            padding: 0;
            padding-left: rem(15);
            padding-right: rem(130);
        }

        &--white {
            background-color: #fff;
            vertical-align: middle;
            color: #454545;
            font-size: rem(25.1);
            padding: rem(14) rem(7);
            line-height: 1.13;

            @media (max-width: 767px) {
                justify-content: center;
            }
        }
    }

    &__tr {
        @media (max-width: 767px) {
            width: 100%;
            display: block;
        }
    }

    &__span {
        padding: rem(8) 0;
        display: inline-block;
        background: url(../img/common/c_year_cal_batu.png.png) no-repeat 50% 50%;
        background-size: rem(36) auto;
        font-size: rem(22.97);
        line-height: 1;
        white-space: nowrap;

        @media (max-width: 767px) {
            background-size: rem(50) auto;
            padding: rem(14) 0;
        }

        &--ccl {
            background-image: url(../img/common/c_year_cal_cricle.png.png);
            background-size: rem(35.03) auto;

            @media (max-width: 767px) {
                background-size: rem(50) auto;
            }
        }

        &--bg-none {
            background: none;
        }
    }

    &__not {
        position: relative;
        padding-bottom: rem(48);
        margin-top: rem(4);

        @media (max-width: 767px) {
            padding-bottom: 0;
            display: inline-block;
            padding-right: 0%;
            margin-top: 0;
        }
    }

    &__not-in {
        position: absolute;
        background-color: #fff;
        color: #5e5e5e;
        text-align: center;
        font-weight: 600;
        left: 0;
        top: 0;
        width: 635px;
        font-size: rem(21);
        padding: rem(12) 0;
        line-height: 1;

        @media (max-width: 767px) {
            width: auto;
            writing-mode: vertical-rl;
            height: 53vw;
            left: auto;
            right: -6.25rem;
            line-height: 1.37;
            top: rem(-25);
            padding: rem(12) rem(18);
            text-align: left;
            font-size: rem(17);
            white-space: nowrap;
        }
    }

    &__not-arw {
        background-color: #fff;
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
        color: #5e5e5e;
        width: 151px;
        padding: rem(5) 0;
        padding-left: rem(8);
        font-size: rem(17.81);
        font-weight: lighter;
        letter-spacing: 0;
        z-index: 500;

        @media (min-width: 768px) {
            white-space: nowrap;
        }

        @media (max-width: 767px) {
            text-align: center;
            left: auto;
            right: -8.9125rem;
            top: rem(-27);
            padding: rem(12) rem(6);
            width: 28vw;
            font-size: rem(14);
            line-height: 1.24;
        }
    }

    &__not-arw-img {
        position: absolute;
        top: 0;
        right: rem(-22);
        height: 100%;
        width: rem(23);
        display: inline-block;
        background: url(../img/common/c_table_arw.png) no-repeat 50% 50%;
        background-size: 100% auto;

        @media (max-width: 767px) {
            background-image: url(../img/common/c_table_arw_sp.png);
            top: auto;
            right: 0;
            bottom: rem(-13);
            height: auto;
            padding: rem(9);
            width: 100%;
        }
    }
}

.p-table-note {
    font-size: rem(16);
    line-height: 1.38;
    padding-left: 1em;
    text-indent: -1em;
    font-weight: lighter;
    letter-spacing: 0;

    @media (max-width: 767px) {
        text-align: left;

        &:last-child {
            margin-right: rem(7);
        }
    }
}

.p-table-note-large {
    font-size: rem(22.79);
    line-height: 1.45;
    font-weight: 600;
    margin: rem(36) 0 rem(63);

    @media (max-width: 767px) {
        font-size: rem(19);
        margin-bottom: rem(42);
        line-height: 1.55;
    }

    span {
        //font-size: rem(25.29);
        font-weight: 800;
        padding-bottom: rem(3);
        border-bottom: rem(3.22) solid #ffea78;

        @media (max-width: 767px) {
            font-size: rem(22);
        }
    }
}

.is-radio:checked + .p-not-yearEnd__label .p-not-yearEnd__arw::after {
    opacity: 0;
}

.is-radio {
    &:checked ~ .is-toggle-box {
        visibility: visible;
        height: auto;
        margin-top: 1.02rem;
    }
}
