.p-new-price {}

.p-price-tab-list {
    align-items: flex-end;

    &__btn {
        max-width: 377px;
        width: 50%;
        text-align: center;
        font-size: rem(25);
        color: #727272;
        background-color: #dadada;
        border-radius: rem(19.5) rem(19.5) 0 0;
        height: 64px;
        transition: .1s ease;
        cursor: pointer;

        @media (max-width: 767px) {
            width: 32.9%;
            font-size: 1.08rem;
            height: 15vw;
            border-radius: rem(10.5) rem(10.5) 0 0;
        }

        &.is-tab-active {
            color: #fff;
            font-weight: 600;
            font-size: rem(30);
            height: 83px;

            @media (max-width: 767px) {
                font-size: 1.15rem;
                height: 18vw;
            }
        }

        &--normal.is-tab-active {
            background-color: #ffa200;
        }

        &--quick.is-tab-active {
            background-color: #ea151f;
        }

        &--minimum.is-tab-active {
            background-color: #0c7e7d;
        }
    }
}

.p-price-tab-contents {
    &__item {
        background-color: #fff;
        opacity: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;

        &--normal {
            border-color: #ffa200;
        }

        &--quick {
            border-color: #ec4646;
        }

        &--minimum {
            border-color: #0c7e7d;
        }

        &.is-tab-active {
            opacity: 1;
            height: auto;
            overflow: inherit;
            visibility: visible;
            padding: rem(40) rem(38) rem(44);
            border-style: solid;
            border-width: rem(2);

            @media (max-width: 767px) {
                padding: 1.55rem 1.24rem;
            }
        }
    }
}

.p-new-price-row {
    margin-bottom: rem(47);

    @media (max-width: 767px) {
        display: block;
    }

    &__item {
        width: 100%;
        max-width: 328px;
        position: relative;

        &:nth-of-type(2) {
            @media (max-width: 767px) {
                padding: 2.42rem 0;
                margin: 2.42rem 0;
            }

            &::after, &::before {
                content: "";
                position: absolute;
                width: 3px;
                height: 100%;
                background: url(../img/front/bg_line_cricle.png) no-repeat 50% 50%;
                background-size: auto 100%;
                top: 0;
                display: block;

                @media (max-width: 767px) {
                    width: 100%;
                    height: rem(7);
                    background-image: url(../img/front/bg_line_cricle_sp.png);

                    /*  transform: rotate(90deg); */
                    background-size: 100% auto;
                }
            }

            &::after {
                left: -25px;

                @media (max-width: 767px) {
                    left: 0;
                }
            }

            &::before {
                right: -25px;

                @media (max-width: 767px) {
                    right: 0;
                    top: auto;
                    bottom: 0;
                }
            }
        }

        @media (max-width: 767px) {
            max-width: 550px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__item-note {
        border: 2px solid #fd1414;
        color: #fd1414;
        padding: rem(14) rem(22);

        &-ttl {
            font-weight: 700;
            font-size: rem(25);
            margin-bottom: rem(8);
            text-align: center;
        }

        &-desc {
            font-size: rem(16);
            letter-spacing: .05em;
            font-weight: 600;
        }
    }

    &__ttl {
        border: rem(2) solid #dbdbdb;
        border-radius: rem(21);
        padding: rem(7) 0;
        line-height: 1;
        color: #929292;
        font-size: rem(22);
        letter-spacing: .0025em;
    }

    &__contents {
        &-in {
            height: 122px;
        }
    }

    &__texts {
        &--normal {
            color: #ff7800;
        }

        &--quick {
            color: #ec4646;
        }

        &--minimum {
            color: #0c7e7d;
        }
    }

    &__main {
        font-size: rem(54);
    }

    &__sub {}

    &__about {
        font-size: rem(16);
        color: #666666;
        margin-right: rem(10);
    }

    &__tax, &__yen, &__main {
        line-height: 1;
    }

    &__tax {
        font-size: rem(16.11);
    }

    &__yen {
        font-size: rem(31.11);
    }

    &__total {
        font-size: rem(16);
        color: #454545;
        letter-spacing: .05em;
        margin-top: rem(5);
    }

    &__btn {
        display: block;
        text-align: center;
        background-color: #215fa6;
        border-radius: rem(5);
        color: #fff;
        padding: rem(14) 0;
        font-size: rem(16.01);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 rem(6) rem(6);
            border-color: transparent transparent #ffffff transparent;
            right: rem(6);
            bottom: rem(6);
        }
    }
}

.p-new-price-bottom {
    padding: rem(31) rem(32);

    @media (max-width: 767px) {
        padding: 1.22rem 1.25rem;
    }

    &--normal {
        background-color: #fffbf5;
    }

    &--quick {
        background-color: #fff5f5;
    }

    &--minimum {
        background-color: #f5fffc;
    }

    &__ttl {
        margin-bottom: rem(16);
        font-weight: 600;
        font-size: rem(21.86);
        letter-spacing: .05em;
        color: #575757;
        position: relative;
        padding-left: rem(24);

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: rem(12);
            height: rem(12);
        }

        &--normal {
            &::after {
                background-color: #ffa200;
            }
        }

        &--quick {
            &::after {
                background-color: #ea151f;
            }
        }

        &--minimum {
            &::after {
                background-color: #0c7e7d;
            }
        }
    }

    &__list {
        @media (max-width: 767px) {
            display: block;
        }
    }

    &__item {
        max-width: 33.33333333333%;
        width: 100%;

        @media (max-width: 767px) {
            max-width: 550px;
        }
    }

    &__data {
        &-ttl {
            color: #124f94;
            font-size: rem(18.3);
            font-weight: 600;
            background-color: #f3f3f3;
            line-height: 1;
            padding: rem(10) 0;
        }

        &-desc {
            background-color: #fff;
            border: 1px solid #f3f3f3;
            display: flex;
            justify-content: center;
            align-content: center;
            height: 80px;
            flex-flow: column;

            &--note {
                font-size: rem(14);
            }

            p {}
        }
    }
}
