.p-turkey {
    background-color: #ec144e;
    color: #fff;
    font-weight: 600;
    line-height: 1;
    padding: rem(12) 0;
    font-size: rem(28.38);
    letter-spacing: .08em;

    @media (max-width: 767px) {
        font-size: 1.32rem;
    }
}

.p-recruit-fv {
    padding: rem(29) 0 rem(54);
    background: url(../img/recruit/fv_bg.jpg) no-repeat 50% 50%;
    background-size: 100% auto;

    @media (max-width: 767px) {
        background-image: url(../img/recruit/fv_bg_sp.jpg);
    }

    &__inner {
        position: relative;
    }

    &__contents {
        width: 100%;
        max-width: 581px;

        @media (min-width: 768px) {
            padding-left: rem(30);
        }
    }

    &__ttl {
        margin-bottom: rem(21);
    }

    &__point {
        margin-bottom: rem(34);
    }

    &__item {
        position: absolute;
        right: 42px;
        top: 0;
        width: 555px;
    }

    &__btn {
        display: block;
        text-align: center;
        background-color: #02478e;
        position: relative;
        font-size: rem(24);
        letter-spacing: .1em;
        color: #fff;
        padding: rem(11) 0;
        border-radius: rem(40.5);

        @media (max-width: 767px) {
            font-size: 1.4rem;
            font-weight: 800;
            max-width: 450px;
            width: 90%;
            margin: auto;
            padding: 1.38rem 0;
            border-radius: rem(40.5);
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: rem(6);
            transform: translateX(-50%);
            width: 0;
            height: 0;
            line-height: 1;
            border-style: solid;
            border-width: 5px 6.5px 0 6.5px;
            border-color: #ffffff transparent transparent transparent;
        }
    }
}

.p-recruit-feature {
    padding: rem(90) 0 rem(109);

    &__ttl {
        margin-bottom: rem(61);
    }
}

.p-r-feature-list {
    &__item {
        position: relative;
        margin-bottom: rem(90);

        @media (max-width: 767px) {
            margin-bottom: 0;
        }

        &:nth-child(even) {
            .p-r-feature-list__thumb {
                right: 0;
                left: auto;
            }

            .p-r-feature-list__contents {
                padding-left: 0;
                padding-right: 350px;

                @media (max-width: 767px) {
                    padding-right: 10%;
                }
            }

            .p-r-feature-list__step {
                text-align: left;

                @media (max-width: 767px) {
                    margin-left: 0;
                    margin-right: auto;
                }
            }

            .p-r-feature-list__box {
                padding-left: 0;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__thumb {
        position: absolute;
        left: 0;
        top: 0;
        width: 73%;
        max-width: 656px;

        @media (max-width: 767px) {
            width: 66%;
        }
    }

    &__contents {
        padding-left: 370px;
        position: relative;
        z-index: 50;

        @media (max-width: 767px) {
            padding-left: 10%;
        }
    }

    &__step {
        line-height: 1;
        letter-spacing: 0.05em;
        color: rgba($color: #a3a3a3, $alpha: 0.07);
        text-align: right;

        @media (max-width: 767px) {
            text-align: center;
            width: 35%;
            margin-left: auto;
        }
    }

    &__sub, &__main {
        @media (max-width: 767px) {
            display: block;
            text-align: center;
        }
    }

    &__sub {
        font-size: rem(56.37);

        @media (max-width: 767px) {
            font-size: 2.2rem;
            display: block;
        }
    }

    &__main {
        font-size: rem(206.72);

        @media (max-width: 767px) {
            font-size: 6.5rem;
            display: block;
        }
    }

    &__box {
        background-color: rgba($color: #fff, $alpha: 0.8);
        padding: rem(17) rem(25) rem(55);
        padding-right: 0;
    }

    &__ttl {
        font-size: rem(27);
        margin-bottom: rem(9);
        line-height: 1.24;

        @media (max-width: 767px) {
            font-size: 1.45rem;
            margin-bottom: rem(15);
        }
    }

    &__text {
        font-size: 1rem;
        letter-spacing: .05em;

        @media (max-width: 767px) {
            font-size: .98rem;
            line-height: 1.32;
        }
    }
}

.p-recruit-flow {
    padding: rem(90) 0;

    &__mark {
        max-width: 119px;
        width: 33%;
        margin: 0 auto rem(17);
    }

    &__ttl {
        font-size: rem(39.21);
        font-weight: 600;
        margin-bottom: rem(63);
    }
}

.p-f-list {
    &__item {
        max-width: 252px;
        width: 46%;

        @media (max-width: 767px) {
            &:nth-of-type(2), &:nth-of-type(2) {
                margin-bottom: 2.2rem;
            }
        }
    }

    &__top {
        position: relative;
        border: 2px solid #00639e;
    }

    &__num {
        position: absolute;
        width: rem(42);
        line-height: 1;
        padding: rem(7) 0;
        left: -2px;
        bottom: -2px;
        text-align: center;
        color: #00639e;
        border: 2px solid #00639e;
        background-color: #fff;
        font-size: rem(22);
    }

    &__ttl {
        margin: rem(12) 0 rem(9);
        font-size: rem(25);
        letter-spacing: .05em;
        line-height: 1;

        @media (max-width: 767px) {
            font-size: 1.28rem;
        }
    }

    &__desc {
        font-size: 1rem;
        line-height: 1.25;
    }
}
